
services:
  
  # ===============================================
  # 1. MICROSERVIZIO: GESTIONE UTENTI (AUTH)
  # ===============================================
  
  user-db:
    image: mongo:latest
    container_name: user_auth_db
    restart: always 
    ports:
      - "27017:27017" # Porta di default per il DB Utenti
    volumes:
      - user_mongo_data:/data/db 
    environment:
      MONGO_INITDB_ROOT_USERNAME: user_admin
      MONGO_INITDB_ROOT_PASSWORD: secure_password_user
      MONGO_INITDB_DATABASE: user_auth_db # Nome del DB Utenti
      
  user-manager:
    # Assumo che user-manager utilizzi il tuo Dockerfile attuale
    build: 
      context: ./backend # Adattare il percorso della cartella del tuo microservizio Utenti
    container_name: user_manager_service
    ports:
      - "8000:8000" # Porta per l'accesso esterno
    depends_on:
      - user-db
    environment:
      # L'URI usa il nome del servizio DB come host: user-db
      # MODIFICA QUI: Aggiunto '?authSource=admin' per garantire l'autenticazione.
      MONGO_URI: mongodb://user_admin:secure_password_user@user-db:27017/user_auth_db?authSource=admin
      SECRET_KEY: "LaMiaSuperSegretissimaChiaveJWT"
      ALGORITHM: "HS256"
      ACCESS_TOKEN_EXPIRE_MINUTES: 30

      
# Definizione dei Volumi
volumes:
  user_mongo_data: