fastapi
uvicorn[standard] # AGGIUNTA: [standard] assicura il supporto SSL/TLS
pymongo==4.8.0
pydantic
python-jose[cryptography] # Libreria per JWT
passlib[argon2] # NUOVA DIPENDENZA: Argon2 per l'hashing
argon2-cffi # Argomento richiesto da passlib[argon2]
python-multipart
dnspython
email-validator
python-dotenv
pytest
pytest-asyncio
httpx
pytest-mock
cryptography 