services:
  
  game_engine:
    build: ./game_engine
    depends_on:
      game_history:
        condition: service_started
      collection:
        condition: service_started
      user-manager:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    secrets:
      - game_engine_cert
      - game_engine_key
      - user_manager_cert
      - rabbitmq_cert
    environment:
      GAME_ENGINE: "https://game_engine:5000/game"
      GAME_HISTORY_URL: "https://game_history:5000/addmatch"
      COLLECTION_URL: "https://collection:5000/collection"
      USER_MANAGER_URL: "https://user-manager:5000" 
      RABBITMQ_HOST: "rabbitmq"
      RABBITMQ_PORT: "5671"
      RABBITMQ_USER: "rabbitmq_user"
      RABBITMQ_PASSWORD: "rabbitmq_password"

  game_history:
    build: ./game_history
    secrets:
      - history_key
      - history_cert
      - user_manager_cert
      - rabbitmq_cert
    depends_on:
      db-history:
        condition: service_started
      user-manager:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_HOST: "rabbitmq"
      RABBITMQ_PORT: "5671"
      RABBITMQ_USER: "rabbitmq_user"
      RABBITMQ_PASSWORD: "rabbitmq_password"

  collection:
    build:
      dockerfile: collection/Dockerfile
    depends_on:
      - db-decks
      - user-manager
    secrets:
      - collection_cert
      - collection_key
      - user_manager_cert
    environment:
      USER_MANAGER_URL: "https://user-manager:5000"

  user-manager:
    build: 
      context: ./user-manager
    container_name: user_manager_service
    ports:
      - "5004:5000"
    depends_on:
      - user-db
    environment:
      MONGO_URI: mongodb://user_admin:secure_password_user@user-db:27017/user_auth_db?authSource=admin
      ALGORITHM: "HS256"
      ACCESS_TOKEN_EXPIRE_MINUTES: 30

    volumes:
      - ./user-manager:/app

    secrets:
      - user_manager_cert
      - user_manager_key
      - user_db_encryption_secret_key
      - jwt_secret_key

    command: 
      uvicorn main:app --host 0.0.0.0 --port 5000 
      --ssl-keyfile /run/secrets/user_manager_key 
      --ssl-certfile /run/secrets/user_manager_cert

  user-editor:
    build:
      context: .
      dockerfile: ./user-editor/Dockerfile 
    container_name: user_editor_service
    ports:
      - "5005:5000"
    depends_on:
      - user-manager
    environment:
      USER_MANAGER_URL: "https://user-manager:5000"
    secrets:
      - user_editor_cert
      - user_editor_key
    command:
      uvicorn user-editor.main:app --host 0.0.0.0 --port 5000 
      --ssl-keyfile /run/secrets/user_editor_key 
      --ssl-certfile /run/secrets/user_editor_cert

  user-db:
    image: mongo:latest
    container_name: user_auth_db
    restart: always 
    ports:
      - "27017:27017" 
    volumes:
      - user_mongo_data:/data/db 
    environment:
      MONGO_INITDB_ROOT_USERNAME: user_admin
      MONGO_INITDB_ROOT_PASSWORD: secure_password_user
      MONGO_INITDB_DATABASE: user_auth_db
      
  # (Mantenuti i tuoi db-history, db-games, db-decks)
  db-history:
    image: mongo:latest
    volumes:
      - history-data:/data/db

  db-decks:
    image: mongo:latest
    volumes:
      - decks-data:/data/db

  api-gateway:
    build: 
      context: ./api_gateway
    container_name: api_gateway_service
    ports:
      - "8443:8000"
    depends_on:
      - user-manager
    secrets:
      - api_gateway_cert
      - api_gateway_key
    command: 
      [
        "uvicorn", 
        "gateway:app", 
        "--host", 
        "0.0.0.0", 
        "--port", 
        "8000",
        "--ssl-keyfile", 
        "/run/secrets/api_gateway_key",
        "--ssl-certfile", 
        "/run/secrets/api_gateway_cert"
      ]

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "127.0.0.1:15672:15672" #Expose the management UI url only to localhost, we can see data passing through rabbitmq but the port is not exposed to external network
    volumes:
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    environment:
      RABBITMQ_DEFAULT_USER: "rabbitmq_user"
      RABBITMQ_DEFAULT_PASS: "rabbitmq_password"
    secrets:
      - rabbitmq_cert
      - rabbitmq_key
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  history-data:
  decks-data:
  user_mongo_data:

secrets:
  api_gateway_cert:
    file: ./secrets/api_gateway/cert.pem
  api_gateway_key:
    file: ./secrets/api_gateway/key.pem
  user_manager_key:
    file: ./certs/user-manager/user-manager.key
  user_manager_cert:
    file: ./certs/user-manager/user-manager.crt
  user_editor_cert:
    file: ./certs/user-editor/user-editor.crt
  user_editor_key:
    file: ./certs/user-editor/user-editor.key
  user_db_encryption_secret_key:
    file: ./secrets/user-manager/encryption_key.txt
  jwt_secret_key:
    file: ./secrets/user-manager/jwt_secret_key.txt
  history_key:
    file: ./secrets/game_history/key.pem
  history_cert:
    file: ./secrets/game_history/cert.pem
  collection_cert:
    file: ./secrets/collection/cert.pem
  collection_key:
    file: ./secrets/collection/key.pem
  game_engine_cert:
    file: ./secrets/game_engine/cert.pem
  game_engine_key:
    file: ./secrets/game_engine/key.pem
  rabbitmq_cert:
    file: ./secrets/rabbitmq/cert.pem
  rabbitmq_key:
    file: ./secrets/rabbitmq/key.pem
  rabbitmq_conf:
    file: ./secrets/rabbitmq/rabbitmq.conf
