services:
  
  game-engine:
    build: ./game-engine
    ports:
      - 5001:5000
    depends_on:
      - db-games

  game-history:
    build: ./game-history
    ports:
      - 5002:5000
    depends_on:
      - db-games

  collection:
    build:
      dockerfile: collection/Dockerfile
    ports:
      - 5003:5000
    depends_on:
      - db-decks

  user-db:
    image: mongo:latest
    container_name: user_auth_db
    restart: always 
    ports:
      - "27017:27017" 
    volumes:
      - user_mongo_data:/data/db 
    environment:
      MONGO_INITDB_ROOT_USERNAME: user_admin
      MONGO_INITDB_ROOT_PASSWORD: secure_password_user
      MONGO_INITDB_DATABASE: user_auth_db # Nome del DB Utenti
      
  user-manager:
    # Assumo che user-manager utilizzi il tuo Dockerfile attuale
    build: 
      context: ./user-manager/backend # Adattare il percorso della cartella del tuo microservizio Utenti
    container_name: user_manager_service
    ports:
      - "5004:8000" # Porta per l'accesso esterno
    depends_on:
      - user-db
    environment:
      # L'URI usa il nome del servizio DB come host: user-db
      # MODIFICA QUI: Aggiunto '?authSource=admin' per garantire l'autenticazione.
      MONGO_URI: mongodb://user_admin:secure_password_user@user-db:27017/user_auth_db?authSource=admin
      SECRET_KEY: "LaMiaSuperSegretissimaChiaveJWT"
      ALGORITHM: "HS256"
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
  
  db-games:
    image: mongo:latest
    volumes:
      - games-data:/data/db

  db-decks:
    image: mongo:latest
    volumes:
      - decks-data:/data/db


volumes:
  games-data:
  decks-data:
  users-data: